.sidebar {
  color: white;
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  width: 260px;
  /* overflow-y: scroll; */
  margin-bottom: 70px;
  scrollbar-width: thin;
  scrollbar-color: rgba(245, 245, 245, 0.3) #3f0f40;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
}
.sidebar::-webkit-scrollbar-track {
  background: #3f0f40;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 20px;
  border: 3px solid #3f0f40;
}

.sidebar:hover {
  overflow-y: auto;
}
.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.sidebar__header {
  display: flex;
  background-color: var(--slack-color);
  border-bottom: 1px solid #49274b;
  padding-bottom: 20px;
  padding: 13px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.sidebar__createIcon {
  cursor: pointer;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  font-size: 18px;
  background-color: white;
  border-radius: 999px;
}
